__pycache__/
*.pyc
.DS_Store
venv/
secrets.toml
package-lock.json
# Node/React
node_modules/
build/

# Python
*.egg-info/
.pytest_cache/

# Environment/secrets
.env
.env.local

# Editor/IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS files
Thumbs.db
